/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 16px;
}
/* header */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/fed-assessment-template/Img/Header/Page1.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.logo {
  background-color: black;
  height: 77px;
}

.logo img {
  display: block;
  padding-left: 2rem;
  padding-top: 1.2rem;
}

.header-text {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 790px;
} 

.header-text h1 {
  margin: 0;
  color: #fff;
  font-size: 2rem;
  padding-bottom: 30px;
  text-transform: uppercase;
  width: 100%;
  font-weight: bold;
}

.header-text h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: lighter;
}

/* session */

.vision-text {
  height: 100vh;
  text-align: center;
  width: 650px;
  margin: 0 auto;
}

.vision-text h3 {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 150px 0 30px  0;
}

.vision-text p {
  font-size: 1rem;
  padding: 20px 0;
  line-height: 1.6;
}

@media only screen and (max-width: 768px) {
  .header-text {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  } 

  .header-text h1 {
    min-width: 220px;
    display: block;
    margin: 0;
    color: #fff;
    font-size: 240%;
    padding-bottom: 30px;
    text-transform: uppercase;
    width: 100%;
  }

  .header-text h2 {
    color: #fff;
    font-size: 180%;
    font-weight: lighter;
  }
}